
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}



html,body{
    font-size: 18px;
    margin:0;
    padding:0
}

.container{
    background: rgb(18, 11, 92);
    display: flex;
    flex: 1;
    height: 100%;
}

/*logo scene*/
.logo-scene{
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.logo-scene.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo-scene > img{
    width: 50%;
}

/*intro scene*/
.intro-scene{
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.intro-scene.hide{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.intro-scene > img:nth-child(1){
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 123%;
}

.intro-scene > img:nth-child(2){
    opacity: 0;
    position: absolute;
    transform: translateY(-230%);
    transition: opacity 0.5s ease-in-out;
    width: 62%;
}

.intro-scene > img:nth-child(3){
    opacity: 0;
    position: absolute;
    transform: translate(-1.5%,58%);
    transition: opacity 0.5s ease-in-out;
    width: 48.2%;
}

.intro-scene > img.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* direction scene */
.direction-scene{
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    padding: 0 12.5%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.direction-scene.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}

.direction-scene > * {
    color: white;
}

.direction-scene > h1, .direction-scene > h2, .direction-scene > h3{
    flex: 1;
    font-family: 'Quicksand';
    margin:0;
    padding: 0;
    text-align: left;
    width: 100%;
}

.direction-scene > h1{
    color: #FFBD00;
    font-size: 3.5em;
    font-weight: 700;
    margin-top: -0.08em;
}

.direction-scene > h2{
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 1.2em;
}

.direction-scene > h3{
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.direction-scene > p{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.6;
    opacity: 0.7;
}

.button{
    border-radius: 100px;
    background: #FFBD00;
    color: #130B5C;
    /* flex:1; */
    font-family: 'Quicksand';
    font-size: 1em;
    font-weight: 700;
    height: 2.8em;
    line-height: 2.8em;
    margin-top: 0.7em;
    margin-bottom:0;
    text-align: center;
    width: 100%;
}

.button.small{
    width: 60%;
}

.button.secondary-button{
    background: #D2E4FA;
    margin-top: 1.2em;
}


/*menu scene*/
.menu-scene{
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    padding: 0 5%;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
}

.menu-scene.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
}

.menu-scene .backToDirectionButton, .menu-scene .openCartButton{
    color: white;
    height: 1.5em;
    left: 6%;
    opacity: 0.3;
    position: absolute;
    top: 4%;
    width: 1.5em;
    z-index: 101;
}

.menu-scene .backToDirectionButton img, .menu-scene .openCartButton img{
    height: 100%;
    position: relative;
    width: 100%;
} 

.menu-scene .openCartButton{
    left: unset;
    opacity: 1;
    right: 6%;
}

.menu-scene .openCartButton .cartCounter{
    background: #FFBD00;
    border-radius: 5.5em;
    bottom: -0.44em;
    color: #130B5C;
    font-family: 'Quicksand';
    font-size: 0.77em;
    font-weight: 700;
    height: 1.38em;
    line-height: 1.38em;
    position: absolute;
    right: -0.27em;
    text-align: center;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, line-height 0.1s ease-in-out;
    width: 1.38em;
}

.menu-scene .openCartButton .cartCounter.onAddItem{
    height: 1.8em;
    line-height: 1.8em;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, line-height 0.1s ease-in-out;
    width: 1.8em;
}

.menu-scene .carousel{
    align-self: start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    left: 0;
    position: absolute;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.menu-scene .nav{
    align-items: center;
    /* background: rgba(255,255,255,0.25); */
    border-radius: 2em;
    display: flex;
    height: 1.5em;
    justify-content: center;
    opacity: 0.3;
    position: absolute;
    transform: translateY(-50%);
    top: 54.5%;
    width: 1.5em;
    z-index: 100;
}

.menu-scene .nav#left-nav{
    display: none;
    left: 5%;
}

.menu-scene .nav#right-nav{
    right: 5%;
}

.menu-scene .nav img{
    height: 100%;
    position: relative;
    width: 100%;
}


.menu-scene .wrapper{
    height: 100%;
    text-align: center;
    opacity: 1;
    /* padding: 0 1.38em; */
    transition: opacity 0.1s ease-in-out;
}

.menu-scene .wrapper.carousel-item.dim{
    opacity: 0.15;
    transition: opacity 0.1s ease-in-out;
}

.menu-scene .button{
    margin: 2em auto;
}

.menu-scene  .wrapper  img {
    /* height: 50%; */
    margin-top: -8%;
}

.menu-scene h1, .menu-scene h2, .menu-scene p {
    color:white;
    font-family: 'Quicksand';
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu-scene h1{
    font-size: 2.2em;
    margin-top: -4%;
}

.menu-scene h2{
    font-size: 1.1em;
}

.menu-scene p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    line-height: 1.6;
    margin: 1.2em 0;
    padding: 0 1.6em;
}

.menu-scene .decor{
    border-bottom: 1px solid rgba(2555,255,255,0.1);
    margin: 0.25em auto;
    width: 25%;
}

/*cart*/
.cart{
    display: none;
    height: 88%;
    position: absolute;
    top: 12%;
    left: 0;   
    width: 100%;
    z-index: 1000;
}

.cart.show{
    display: block;
}

.cart .wrapper{
    color: white;
    font-family: 'Quicksand';
    height: 100%;
    position: relative;
    width: 100%;
}

.cart .background{
    background: #002e7f;
    height: 100%;
    position: absolute;
    width: 100%;
}
.cart .arrow{
    background: #002e7f;
    height: 1.11em;
    position: absolute;
    right: 1.45em;
    transform: rotate(45deg);
    top: -0.5em;
    width: 1.11em;
}

.cart .content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    padding: 1.45em;
    width: 100%;
}

.cart .content h2, .cart .content p{
    margin: 0;
}

.cart .content p {
    font-family: 'Roboto';
    font-size: 1em;
    font-style: italic;
    line-height: 1.6;
}

.cart .line{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin: 1.45em 0;
    width: 100%;
}

.cart .selectedItemList{
    /* height: 46.5%; */
    margin-bottom: 2em;
    -ms-overflow-style: none;  /* IE and Edge */
    overflow-Y: auto;
    scrollbar-width: none;  /* Firefox */
    width: 100%;
}

.cart .selectedItemList::-webkit-scrollbar{
    display: none;
}

.cart .selectedItemList .selectedItem{
    display: flex;
    margin: 2em 0;
}

.cart .selectedItemList .selectedItem .left p:nth-child(1){
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.11em;
}

.cart .selectedItemList .selectedItem .left p:nth-child(2){
    font-style: normal;
    font-size: 0.77em;
}


.cart .button{
    margin: 0 auto;
    margin-top: 1em;
}

.cart .button:last-child{
    margin-top: 1em;
}

.cart .guide{
    display: flex;
}

.cart .guide .icon{
    flex:1;
}

.cart .guide .icon > div{
    background: #0088FF;
    border-radius: 5.55em;
    color: white;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 0.77em;
    height: 1.38em;
    text-align: center;
    width: 1.38em;
}

.cart .guide .text{
    align-items: center;
    flex:9;
    display: flex;
    opacity: 0.4;
}

.cart .guide .text p{
    font-size: 0.77em;
}

.cart .selectedItem:first-child{
    margin-top: 0;
}

.cart .selectedItem .left{
    flex:12;
}

.cart .selectedItem .right{
    flex:1;
}

.cart .right .remove{
    align-items: center;
    /* border: 1px solid #6C8FAE; */
    border-radius: 5.55em;
    display: flex;
    height: 1em;
    justify-content: center;
    margin-top: 0.3em;
    opacity: 0.3;
    width: 1em;
}

.cart .right .remove img{
    height: 100%;
    display: block;
    width: 100%;
}

/* .cart .selectedItem.selected  .right .remove{
    background: #FFBD00;
    border: none;

}

.cart .selectedItem.selected  .right .remove img{
    display: block;
} */