.game-board{
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.game-board.show{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.board{
    box-sizing: border-box;
    background-image: url('../../src/images/optimized/tinified/board.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    opacity: 0;
    padding: 4.5%;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
}

.board.show{
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
}

.row{
    display: flex;
    flex: 1;
    width: 100%;
}

.board-shadow{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
    top: 50%;
    width: 100%;
    z-index: -10;
}

.board-shadow.show{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.block-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.block-wrapper > img {
    width: 100%;
}

.block{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.block.selected{
    animation:  shake 0.5s ease-in-out infinite !important;
    -webkit-animation:  shake 0.5s ease-in-out infinite !important;
}

.selected-block{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 3.7%;
}

.block.hide{
    animation:  popOut 0.5s ease-in-out !important;
    -webkit-animation:  popOut 0.5s ease-in-out !important;
}

.row:nth-child(1) > .block-wrapper:nth-child(1)  .block.show{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.row:nth-child(1) > .block-wrapper:nth-child(1)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.2s;
    -webkit-animation:  shake 0.5s ease-in-out 0.2s;
}

.row:nth-child(1) > .block-wrapper:nth-child(2)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.1s ease-in-out;
}

.row:nth-child(1)  > .block-wrapper:nth-child(2) .block.shake{
    animation:  shake 0.5s ease-in-out 0.3s;
    -webkit-animation:  shake 0.5s ease-in-out 0.3s;
}

.row:nth-child(1) > .block-wrapper:nth-child(3)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.2s ease-in-out;
}

.row:nth-child(1) > .block-wrapper:nth-child(3)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.4s;
    -webkit-animation:  shake 0.5s ease-in-out 0.4s;
}

.row:nth-child(2) > .block-wrapper:nth-child(1)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.3s ease-in-out;
}

.row:nth-child(2) > .block-wrapper:nth-child(1)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.5s;
    -webkit-animation:  shake 0.5s ease-in-out 0.5s;
}

.row:nth-child(2) > .block-wrapper:nth-child(2)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.4s ease-in-out;
}

.row:nth-child(2) > .block-wrapper:nth-child(2)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.6s;
    -webkit-animation:  shake 0.5s ease-in-out 0.6s;
}

.row:nth-child(2) > .block-wrapper:nth-child(3)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.5s ease-in-out;
}

.row:nth-child(2) > .block-wrapper:nth-child(3)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.7s;
    -webkit-animation:  shake 0.5s ease-in-out 0.7s;
}

.row:nth-child(3)  > .block-wrapper:nth-child(1)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.6s ease-in-out;
}

.row:nth-child(3)  > .block-wrapper:nth-child(1)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.8s;
    -webkit-animation:  shake 0.5s ease-in-out 0.8s;
}

.row:nth-child(3)  > .block-wrapper:nth-child(2)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.7s ease-in-out;
    /* animation:  shake 0.5s ease-in-out 0.9s;
    -webkit-animation:  shake 0.5s ease-in-out 0.9s; */
}

.row:nth-child(3)  > .block-wrapper:nth-child(2)  .block.shake{
    animation:  shake 0.5s ease-in-out 0.9s;
    -webkit-animation:  shake 0.5s ease-in-out 0.9s;
}

.row:nth-child(3)  > .block-wrapper:nth-child(3)  .block.show{
    transform: scale(1);
    transition: transform 0.2s 0.8s ease-in-out;
}

.row:nth-child(3)  > .block-wrapper:nth-child(3)  .block.shake{
    animation:  shake 0.5s ease-in-out 1s;
    -webkit-animation:  shake 0.5s ease-in-out 1s;
}

#_selectedBlock > img{
    height: 100% !important;
    width: 100% !important;
}

.block > img{
    height: 95%;
    width: 100%;
}

.block-wrapper > img{
    height: 95%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.block-wrapper > img.show{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.block > img:nth-child(2), .block-wrapper > img{
    position: absolute;
}

.block.normal > img:nth-child(2){
    position: absolute;
    display: none;
}

.glow-effect{
    animation:  rotate 5s linear infinite;
    -webkit-animation:  rotate 5s linear infinite;
    background-image: url('../../src/images/optimized/tinified/glow-effect.png');
    background-size: cover;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.glow-effect.show{
    opacity: 1;
}