.game-menu{
    align-items: center;
    display:flex;
    flex-direction: column;
    left: 50%;
    margin-top: 17%;
    opacity: 1;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    top: 50%;
    transform: translate(-50%,-50%);
}

.menu-background{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}

.menu-background > img{
    margin-top: 0;
    max-width: 100%;
    max-height: 100%;
}

.game-menu.hide{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.menu-button{
    align-items: center;
    display: flex;
    height: 4.5em;
    justify-content: center;
    margin-bottom: 3%;
    width: 65%;
}

.menu-button:nth-child(2){
    margin-top: 33%;
}

.menu-button > img{
    max-width: 100%;
}

/* .game-menu > p{
    margin: 0
} */
/* 
.game-menu > p:nth-of-type(1){
    font-size: 1em;
    margin: 0
} */

/* .game-menu > p:nth-of-type(2){
    font-size: 2em;
    margin: 0;
    margin-bottom: 18%;
} */

.copyright{
    color: rgb(255, 231, 199);
    font-size: 0.8em;
    margin-top: 20% !important;
}