
.order-screen{
    height: 100%;
    position: absolute;
    top:100%;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.order-screen-background{
    background-image: url(../../src/images/optimized/tinified/background-order.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
}

.order-screen-background-bottom{
    background-image: url(../../src/images/optimized/tinified/background-order-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    bottom:0;
    height: 53%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
}

.order-screen-background.show, .order-screen-background-bottom.show{
    filter: blur(5px);
    transition: filter 0.2s ease-in-out;
}


.order-screen.show{
    top: 0%;
    transition: top 0.2s ease-in-out;
}

.order-popup{
    height: 70%;
    position: absolute;
    left: 50%;
    margin-top: -8%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#order-popup-background{
    max-width: 100%;
    position: absolute;
}

.order-popup-content{
    height: 55%;
    left: 50%;
    margin-top: 5%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 76%;
}

.button-group{
    align-items: center;
    display: flex;
    height: 20%;
    justify-content: center;
    overflow: hidden;
}

.order-popup-button{
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 145%;
    width: 50%;
}

#order-popup-cancel-button{
    background-image: url(../../src/images/optimized/tinified/back-button.png);
}

#order-popup-order-button{
    background-image: url(../../src/images/optimized/tinified/order-button.png);
}

.drinks-list{
    height:86%;
    width: 100%;
}

.order-popup-guide-text{
    background: rgba(255,233,188,1);
    border-radius: 3vw;
    color: #772c00;
    font-size: 3.5vw;
    margin-top: 17%;
    padding: 2vw;
    text-align: center;
}

.product{
    display: flex;
    height: 100%;
    padding-top: 6%;
    width: 100%;
}

.product > .left-col{
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

.product > .left-col > img{
    max-height: 90%;
}

.product > .right-col{
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
}

.product > .right-col > p {
    margin: 0;
}

.product > .right-col > p:first-child{
    color: #ffb75f;
    font-size: 6vw;
}

.product > .right-col > p:last-child{
    color: #ffd392;
    font-size: 5vw;
}

