.popup{
    border-radius: 5%;
    background: rgba(0,0,0,0);
    background-image: url('../../src/images/optimized/tinified/popup-base.png');
    background-size: cover;
    left:  50%;
    /* overflow:hidden; */
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.popup.show{
    background: rgba(68, 24, 4, 0.7);
    background-image: url('../../src/images/optimized/tinified/popup-base.png');
    background-size: cover;
    transform: translate(-50%,-50%) scale(1);
    transition: background 0.5s ease-in-out, transform 0.2s ease-in-out; 
}

.wrapper{
    height: 100%;
    position: relative;
    width: 100%;
}

.popup-button{
    position: absolute;
    bottom: 10%;
}

#cancel-button{
    background-image: url('../../src/images/optimized/tinified/cancel-button.png');
    background-size: cover;
    left: 10%;
}
#confirm-button{
    background-image: url('../../src/images/optimized/tinified/confirm-button.png');
    background-size: cover;
    right: 10%;
}

.content{
    margin-left: -3.5%;
    position: absolute;
}

#content{
    color: white;
    /* font-size: 4.5vw; */
    font-size: 1.1em;
    bottom: 22%;
    left: 18%;
    
}

.before-u-play{
    height: 100%;
    position: absolute;
    top:0;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.before-u-play.show{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.before-u-play > img{
    max-width: 100%;
    position: absolute;
    top:0;
}

.bup-content{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 1em;
}

.bup-content > h2{
    color:#ffd577;
    margin-bottom: 0;
}

.bup-content > p{
    box-sizing: border-box;
    color:wheat;
    margin: 0;
    padding: 1em;
    text-align: left;
}

.bup-agree-button{
    align-items: center;
    display: flex;
    height: 4em;
    margin: 0 auto;
    width: 60%;
}


.bup-agree-button > img{
    max-width: 100%;
}

